<div class="courseDetail">
    <div class="banner">
        <img width="100%" src="assets/image/banner-detail.png" alt="">
    </div>
    <div class="main">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="card left1">
                    <img width="100%" src="{{course.image}}" alt="">
                    <div class="text-card">
                        <div class="best-seller">
                            <h6 style="text-align: center; line-height: 40px;">BEST SELLER</h6>
                        </div>
                        <h1 style="color: white; margin-top: 25px; margin-bottom: 25px;">{{course.name}}</h1>
                        <div class="rate-star">
                            <i style="color: yellow; " class="fa-solid fa-star"></i>
                            <i style="color: yellow; " class="fa-solid fa-star"></i>
                            <i style="color: yellow; " class="fa-solid fa-star"></i>
                            <i style="color: yellow; " class="fa-solid fa-star"></i>
                            <i style="color: white; " class="fa-regular fa-star"></i>
                            <span style="color: white; font-weight: bold;">(4.00)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card right">
                    <div class="img-card-r">
                        <iframe width="100%" src="https://www.youtube.com/embed/zL1FRRyPsZs"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <!-- <img width="100%" src="assets/image/Rectangle 2.png" alt=""> -->
                        <!-- <div class="play"><i class="fa-solid fa-play"></i></div> -->
                    </div>
                    <div class="text-card">
                        <h1 *ngIf="!checkCourse[0]">{{course.price}} $</h1>
                        <h1 *ngIf="checkCourse[0]" style="color: aquamarine;">Have Owned</h1>
                        <button class="btn1" (click)="buyCourse(course)" *ngIf="!checkCourse[0]">BUY
                            NOW</button>
                        <button class="btn1" routerLink="/learning/{{course.id}}/1/1" *ngIf="checkCourse[0]">Learn
                            Now</button>
                        <button class="btn2">TRIAL LEARNING</button>
                        <h2>{{course.name}}</h2>
                        <div class="text-ifo">
                            <i class="fa-regular fa-user"></i>
                            <a>Instructor:<span> {{course.author}}</span></a>
                        </div>
                        <div class="text-ifo">
                            <i class="fa-regular fa-note-sticky"></i>
                            <a>Lessons:<span> 1</span></a>
                        </div>
                        <div class="text-ifo">
                            <i class="fa-regular fa-clock"></i>
                            <a>Duration:<span> 15h 30m</span></a>
                        </div>
                        <div class="text-ifo">
                            <i class="fa-solid fa-tag"></i>
                            <a>Course level:<span> Beginners</span></a>
                        </div>
                        <div class="text-ifo">
                            <i class="fa-solid fa-globe"></i>
                            <a>Language:<span> Vietnamese</span></a>
                        </div>
                        <button class="btn3"><i class="fa-solid fa-share-nodes"></i>TRIAL LEARNING</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="card left2">
                    <!-- <div class="text-left2">
                        <div class="text_ text_1 col-lg-3 col-md-3 col-6"><i
                                class="fa-regular fa-bookmark"></i>OVERVIEW
                        </div>
                        <div class="text_ text_2 col-lg-3 col-md-3 col-6"><i class="fa-solid fa-book"></i>CURRICULAM
                        </div>
                        <div class="text_ text_3 col-lg-3 col-md-3 col-6"><i
                                class="fa-regular fa-user"></i>INSTRUCTOR</div>
                        <div class="text_ text_4 col-lg-3 col-md-3 col-6"><i class="fa-regular fa-star"></i>REVIEWS
                        </div>
                    </div>
                    <div class="text-p">
                        <h4>Description</h4>
                        <p>Conveniently build adaptive users with front-end human capital. Appropriately unleash
                            team building technology for goal-oriented paradigms. Dynamically generate interoperable
                            e-business vis-a-visgoal-oriented value. Completely pursue fully tested content whereas
                            multifunctional core competencies. Progressively scale team driven process improvements
                            before premier functionalities. Holisticly cultivate intermandated methodologies rather
                            than virtual technology. Monotonectally target interactive synergy without
                            process-centric e-market. Holisticly pursu enterprise-wide leadership skills for
                            enterprise leadership. Collaboratively underwhelm standardized expertise after effective
                            bandwidth.</p>
                        <p>Enthusiastically aggregate ethical systems for standardized mindshare. Energistically
                            target resource maximizing leadership skills without backward-compatible action items.
                            Credibly impact alternative expertise vis-a-vis economically sound results. Dynamically
                            synergize empowered benefits through functional partnerships. Authoritatively empower
                            prospective infomediaries for interactive content. Synergistically embrace 2.0 paradigms
                            through professional intellectual capital. Interactively strategize parallel growth
                            strategies without out-of-the-box web services.</p>
                    </div> -->
                    <div class="text-left2">
                        <ul class="nav nav-pills mb-3" style="width: 100%;" id="pills-tab" role="tablist">
                            <li class="nav-item text_ text_1 col-lg-3 col-md-3 col-6" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true"><i class="fa-regular fa-bookmark"></i>OVERVIEW</button>
                            </li>
                            <li class="nav-item text_ text_2 col-lg-3 col-md-3 col-6" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false"><i
                                        class="fa-solid fa-book"></i>CURRICULAM</button>
                            </li>
                            <li class="nav-item text_ text_3 col-lg-3 col-md-3 col-6" role="presentation">
                                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-contact" type="button" role="tab"
                                    aria-controls="pills-contact" aria-selected="false"><i
                                        class="fa-regular fa-user"></i>INSTRUCTOR</button>
                            </li>
                            <li class="nav-item text_ text_4 col-lg-3 col-md-3 col-6" role="presentation">
                                <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-disabled" type="button" role="tab"
                                    aria-controls="pills-disabled" aria-selected="false"><i
                                        class="fa-regular fa-star"></i>REVIEWS</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab" tabindex="0">
                                <div class="text-p">
                                    <h4>Description</h4>
                                    <p>Conveniently build adaptive users with front-end human capital. Appropriately
                                        unleash
                                        team building technology for goal-oriented paradigms. Dynamically generate
                                        interoperable
                                        e-business vis-a-visgoal-oriented value. Completely pursue fully tested
                                        content whereas
                                        multifunctional core competencies. Progressively scale team driven process
                                        improvements
                                        before premier functionalities. Holisticly cultivate intermandated
                                        methodologies rather
                                        than virtual technology. Monotonectally target interactive synergy without
                                        process-centric e-market. Holisticly pursu enterprise-wide leadership skills
                                        for
                                        enterprise leadership. Collaboratively underwhelm standardized expertise
                                        after effective
                                        bandwidth.</p>
                                    <p>Enthusiastically aggregate ethical systems for standardized mindshare.
                                        Energistically
                                        target resource maximizing leadership skills without backward-compatible
                                        action items.
                                        Credibly impact alternative expertise vis-a-vis economically sound results.
                                        Dynamically
                                        synergize empowered benefits through functional partnerships.
                                        Authoritatively empower
                                        prospective infomediaries for interactive content. Synergistically embrace
                                        2.0 paradigms
                                        through professional intellectual capital. Interactively strategize parallel
                                        growth
                                        strategies without out-of-the-box web services.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab" tabindex="0">
                                <div class="text-p">
                                    <h4>The Course Curriculam</h4>
                                    <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur
                                        elit. Vesti at bulum nec odio aea the dumm ipsumm ipsum that dolocons rsus
                                        mal suada and fadolorit to the consectetur elit. All the Lorem Ipsum
                                        generators on the Internet tend to repeat that predefined chunks as
                                        necessary, making this the first true dummy generator on the Internet.</p>
                                    <p>Enthusiastically aggregate ethical systems for standardized mindshare.
                                        Energistically
                                        target resource maximizing leadership skills without backward-compatible
                                        action items.
                                        Credibly impact alternative expertise vis-a-vis economically sound results.
                                        Dynamically
                                        synergize empowered benefits through functional partnerships.
                                        Authoritatively empower
                                        prospective infomediaries for interactive content. Synergistically embrace
                                        2.0 paradigms
                                        through professional intellectual capital. Interactively strategize parallel
                                        growth
                                        strategies without out-of-the-box web services.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                aria-labelledby="pills-contact-tab" tabindex="0">
                                <div class="text-instructor">
                                    <div class="card mb-3" style="max-width: 775px;">
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <img src="{{course.image}}" width="100%" height="100%"
                                                    class="img-fluid rounded-start" alt="...">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h3 class="card-title">{{course.name}}</h3>
                                                    <p class="card-text">{{course.description}}</p>
                                                    <p class="card-text2">
                                                        <i class="fa-regular fa-file-video"></i><span>4
                                                            Courses</span>
                                                        <i class="fa-solid fa-users"></i><span>{{course.view}}
                                                            Students</span>
                                                    </p>
                                                    <div class="card-text3">
                                                        <div class="icon">
                                                            <i class="fa-brands fa-facebook-f"></i>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa-brands fa-google"></i>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa-brands fa-twitter"></i>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-disabled" role="tabpanel"
                                aria-labelledby="pills-disabled-tab" tabindex="0">
                                <div class="text-p">
                                    <h4>Description</h4>
                                    <p>Conveniently build adaptive users with front-end human capital. Appropriately
                                        unleash
                                        team building technology for goal-oriented paradigms. Dynamically generate
                                        interoperable
                                        e-business vis-a-visgoal-oriented value. Completely pursue fully tested
                                        content whereas
                                        multifunctional core competencies. Progressively scale team driven process
                                        improvements
                                        before premier functionalities. Holisticly cultivate intermandated
                                        methodologies rather
                                        than virtual technology. Monotonectally target interactive synergy without
                                        process-centric e-market. Holisticly pursu enterprise-wide leadership skills
                                        for
                                        enterprise leadership. Collaboratively underwhelm standardized expertise
                                        after effective
                                        bandwidth.</p>
                                    <p>Enthusiastically aggregate ethical systems for standardized mindshare.
                                        Energistically
                                        target resource maximizing leadership skills without backward-compatible
                                        action items.
                                        Credibly impact alternative expertise vis-a-vis economically sound results.
                                        Dynamically
                                        synergize empowered benefits through functional partnerships.
                                        Authoritatively empower
                                        prospective infomediaries for interactive content. Synergistically embrace
                                        2.0 paradigms
                                        through professional intellectual capital. Interactively strategize parallel
                                        growth
                                        strategies without out-of-the-box web services.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>