<div class="learning d-flex" style="padding-left: 80px; padding-top:80px">
    <div class="course-material col-lg-9 col-md-9 col-sm-12 col-12">
        <div class="video-lesson w-100"
            style="height: 45vw; min-height: 45vw !important; max-height: 88vh; width: 100%; padding: 3%; background-color: #252841;">
            <iframe width="100%" height="100%" [src]="lessonData.video | safe" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="name-lesson mt-4 ps-5 text-light ">
            <h3 class="">{{lessonData.name}}</h3>
        </div>
        <div class="course-route">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item bg-route" *ngFor="let item of listRoute">
                    <h2 class="accordion-header" id="panelsStayOpen-heading{{item.id}}">
                        <button class="accordion-button bg-route collapsed" type="button" data-bs-toggle="collapse"
                            attr.data-bs-target="#panelsStayOpen-collapse{{item.id}}" aria-expanded="false"
                            attr.aria-controls="panelsStayOpen-collapse{{item.id}}">
                            {{item.id}}. {{item.name}}
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapse{{item.id}}" class="accordion-collapse collapse"
                        attr.aria-labelledby="panelsStayOpen-heading{{item.id}}">
                        <div class="accordion-body">
                            <ul class="list-group bg-route">
                                <li class="list-group-item bg-route-item"
                                    routerLink="/learning/{{idCourse}}/{{item.id}}/{{lession.id}}"
                                    style="cursor: pointer;" *ngFor="let lession of item.lession">
                                    {{lession.id}}. {{lession.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-learning col-lg-3 col-md-3 d-none d-md-block">
        <div class="list-group p-2">
            <a class="list-group-item "><img
                    src="https://files.fullstack.edu.vn/f8-prod/blog_posts/65/6139fe28a9844.png" class="img-thumbnail"
                    alt="..."></a>
            <a href="#" class="list-group-item list-group-item-action btn-learning">Course Material</a>
            <a href="#" class="list-group-item list-group-item-action btn-learning" data-bs-toggle="modal"
                data-bs-target="#noteModal">Note</a>
            <a href="#" class="list-group-item list-group-item-action btn-learning">Q&A</a>
            <a href="#" class="list-group-item list-group-item-action btn-learning">Exercise</a>
        </div>
        <div class="btn-control d-flex justify-content-center">
            <div class="btn-prev btn-control-item" (click)="prevLession()">
                <a><i class="fa-solid fa-chevron-left"></i> Prev</a>
            </div>
            <div class="btn-next btn-control-item" [attr.disabled]="trackId==lengthTrack" (click)="nextLession()">
                <a>Next <i class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>

    </div>
    <div class="nav-learning-mobile">

    </div>
    <!-- note modal -->
    <div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog noteModal">
            <div class="modal-content">
                <div class="modal-header border-modal">
                    <button type="button" class="btn btn-primary mb-3"
                        style="background-color: blueviolet !important; border: none;">New</button>
                    <h5 class="modal-title" id="exampleModalLabel">Note</h5>
                    <button type="button" class="btn text-light" data-bs-dismiss="modal" aria-label="Close"><i
                            class="fa-solid fa-x"></i></button>
                </div>
                <div class="modal-body">
                    <div class="note-course d-flex flex-wrap">
                        <div class="note-item col-lg-9 col-md-12 col-sm-12 col-12 p-2">

                            <div class="form-floating ">
                                <textarea class="form-control form-new" placeholder="Leave a comment here"
                                    id="floatingTextarea"></textarea>
                                <label for="floatingTextarea">Title</label>
                            </div>
                            <div class="form-floating ">
                                <textarea class="form-control form-new" placeholder="Leave a comment here"
                                    id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Comments</label>
                            </div>
                            <div style="text-align: right;">
                                <button type="button" class="btn btn-primary mt-3"
                                    style="background-color: blueviolet !important; border: none; text-align: right;">Create</button>
                            </div>
                        </div>
                        <div class="note-item col-lg-3 col-md-12 col-sm-12 col-12">
                            <h6>Previous Notes</h6>
                            <div class="list-note">
                                <ol class="list-group list-group-numbered overflow-auto" style="height: 300px;">

                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                    <li class="list-group-item">A list item</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-modal">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" style="background-color: #ab75f0;">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>
</div>