<div class="header">
    <div class="c">
        <div class="d-flex justify-content-between" style="align-items: center;">
            <div class="left">
                <div class="btn-hidden-menu">
                    <a class="btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                        aria-controls="offcanvasExample">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                </div>
                <div class="logo">
                    <img routerLink="/" src="assets/image/logo_sss.png" width="90px" alt="">
                </div>
            </div>

            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input placeholder="Search courses, articles, videos,..." type="text">
            </div>
            <div style="display: flex; align-items: center;">
                <div class="search-mobile">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="bt-login" routerLink="/user/login" *ngIf="!user" >
                    <button>Đăng nhập</button>
                </div>
                <div class="bt-login" *ngIf="user"  >
                   <button style="background-color: #252841;"  data-bs-toggle="dropdown" aria-expanded="false">                    
                    <img src="{{user.image}}" style="width: 50px; height: 50px;border-radius: 50%;" alt="">
                   </button>
                  
                   <ul class="dropdown-menu" style="background-color: #252841;">
                    <div class="user-hover d-flex  align-items-center"  style="border-bottom: 1px solid #fff; ">
                        <li class="ms-3 me-4 mb-2"><a class="" href="#"><img  style="width: 50px; height: 50px;border-radius: 50%;" src="{{user.image}}" alt=""></a></li>
                        <li ><a class="" style="text-decoration: none; color: #999ebe;" href="">{{user.name}}</a></li>
                    </div>
                    <li ><a class="dropdown-item p-3" href="#">{{user.email}}</a></li>
                    <li><a class="dropdown-item p-3" href="#">Feedback</a></li>
                    <li><a class="dropdown-item p-3" href="#">Contact Us</a></li>
                    <li ><a routerLink="/user" class="dropdown-item p-3" href="#">My person Page</a></li>
                    <li><a routerLink="/user/login" class="dropdown-item p-3" href="#" (click)="Logout()">Đăng xuất</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="menu-left">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"
        style="width: 190px; background: #252841;">
        <div class="hidden-menu">
            <div class="icon-hidden-group">
                <div class="icon-hidden-menu">
                    <i class="fa-solid fa-house"></i>
                    <span class="text-hidden-menu">Home</span>
                </div>
                <div class="icon-hidden-menu">
                    <i class="fa-solid fa-book-open"></i>
                    <span class="text-hidden-menu">Courses Lesson</span>
                </div>
                <div class="icon-hidden-menu">
                    <i class="fa-regular fa-clipboard"></i>
                    <span class="text-hidden-menu">Category</span>
                </div>
                <div class="icon-hidden-menu">
                    <i class="fa-solid fa-display"></i>
                    <span class="text-hidden-menu">Dashboard</span>
                </div>
                <div class="icon-hidden-menu">
                    <i class="fa-solid fa-chart-pie"></i>
                    <span class="text-hidden-menu">Manage Course</span>
                </div>
                <div class="icon-hidden-menu">
                    <i class="fa-solid fa-address-card"></i>
                    <span class="text-hidden-menu">Earning</span>
                </div>
                <div class="icon-hidden-menu">
                    <i class="fa-solid fa-newspaper"></i>
                    <span class="text-hidden-menu">Enrolled Courses</span>
                </div>
                <div class="icon-hidden-menu">
                    <i class="fa-regular fa-envelope"></i>
                    <span class="text-hidden-menu">Certificate</span>
                </div>
                <div class="icon-hidden-menu">
                    <i class="fa-regular fa-circle-question"></i>
                    <span class="text-hidden-menu">Help</span>
                </div>
            </div>
        </div>
    </div>
    <div class="icon-group">
        <div class="icon icon-menu-hover1">
            <i class="fa-solid fa-house"></i>
            <div class="menu-hover1"><i class="fa-solid fa-house"></i>Home</div>
        </div>
        <div class="icon icon-menu-hover2">
            <i class="fa-solid fa-book-open"></i>
            <div class="menu-hover2"><i class="fa-solid fa-book-open"></i>Courses Lesson</div>
        </div>
        <div class="icon icon-menu-hover3">
            <i class="fa-regular fa-clipboard"></i>
            <div class="menu-hover3"><i class="fa-regular fa-clipboard"></i>Category</div>
        </div>
        <div class="icon icon-menu-hover4">
            <i class="fa-solid fa-display"></i>
            <div class="menu-hover4"><i class="fa-solid fa-display"></i>Dashboard</div>
        </div>
        <div class="icon icon-menu-hover5">
            <i class="fa-solid fa-chart-pie"></i>
            <div class="menu-hover5"><i class="fa-solid fa-chart-pie"></i>Manage Course</div>
        </div>
        <div class="icon icon-menu-hover6">
            <i class="fa-solid fa-address-card"></i>
            <div class="menu-hover6"><i class="fa-solid fa-address-card"></i>Earning</div>
        </div>
        <div class="icon icon-menu-hover7">
            <i class="fa-solid fa-newspaper"></i>
            <div class="menu-hover7"><i class="fa-solid fa-newspaper"></i>Enrolled Courses</div>
        </div>
        <div class="icon icon-menu-hover8">
            <i class="fa-regular fa-envelope"></i>
            <div class="menu-hover8"><i class="fa-regular fa-envelope"></i>Certificate</div>
        </div>
        <div class="icon icon-menu-hover9">
            <i class="fa-regular fa-circle-question"></i>
            <div class="menu-hover9"><i class="fa-regular fa-circle-question"></i>Help</div>
        </div>
    </div>
</div>

