<div class="homepage">
    <div class="full-container">
        <div class="container">
           <div class="row-clearfix">
            <div class="left-page">
                <div class="content-top">
                    <div class="content-title">
                        <h6>Popular Topics</h6>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Animation</li>
                            <li>Animation</li>
                            <li>Animation</li>
                            <li>Animation</li>
                            <li>Animation</li>
                            <li>Animation</li>
                            <li>Animation</li>
                            <li>Animation</li>
                            <li>Animation</li>
                            <li>Animation</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right-page">

            </div>
           </div>
        </div>
    </div>
</div>