<div class="homepage">
  <div class="full-container">
    <div class="container-fluid background-container">
      <div class="row-clearfix d-flex">


        <!-- left page -->
        <div class="left-page  ">
          <div class="content-top">
            <div class="content-title">
              <h6>Popular Topics</h6>
            </div>
            <div class="content">
              <div class="content-popular d-flex flex-wrap">
                <div class="item-popular">
                  <a href="#">
                    <p>Animation</p>
                  </a>

                </div>
                <div class="item-popular">
                  <a href="#">
                    <p>WordPress</p>
                  </a>

                </div>
                <div class="item-popular">
                  <a href="#">
                    <p>Bootstrap</p>
                  </a>

                </div>
                <div class="item-popular">
                  <a href="#">
                    <p>User Interface</p>
                  </a>

                </div>
                <div class="item-popular">
                  <a href="#">
                    <p>Web Design</p>
                  </a>

                </div>
                <div class="item-popular">
                  <a href="#">
                    <p>Photoshop</p>
                  </a>

                </div>
                <div class="item-popular">
                  <a href="#">
                    <p>Responsive Design</p>
                  </a>

                </div>
                <div class="item-popular">
                  <a href="#">
                    <p>Figma</p>
                  </a>

                </div>
                <div class="item-popular">
                  <a href="#">
                    <p>Adobe XD</p>
                  </a>

                </div>
                <div class="item-popular">
                  <a href="#">
                    <p>Sketch</p>
                  </a>

                </div>

              </div>
            </div>
          </div>
          <div class="content-down">
            <div class="content-title">
              <h6>Top Categories</h6>
            </div>
            <div class="content">
              <div class="content-categories pt-3 pb-3">
                <div class="item-category d-flex align-items-center p-1 mb-1">
                  <a href="" class="item-category d-flex align-items-center p-1 mb-1 flex-wrap"> <i
                      class="fa-solid fa-code me-3"></i>
                    <p>Developent</p>
                  </a>
                </div>
                <div class="item-category d-flex align-items-center p-1 mb-1">
                  <a href="" class="item-category d-flex align-items-center p-1 mb-1 flex-wrap"> <i
                      class="fa-solid fa-landmark me-3"></i>
                    <p>Business</p>
                  </a>
                </div>
                <div class="item-category d-flex align-items-center p-1 mb-1">
                  <a href="" class="item-category d-flex align-items-center p-1 mb-1"> <i
                      class="fa-solid fa-bullhorn me-3"></i>
                    <p>Marketing</p>
                  </a>
                </div>
                <div class="item-category d-flex align-items-center p-1 mb-1">
                  <a href="" class="item-category d-flex align-items-center p-1 mb-1"> <i
                      class="fa-solid fa-computer me-3"></i>
                    <p>IT and Software</p>
                  </a>
                </div>
                <div class="item-category d-flex align-items-center p-1 mb-1">
                  <a href="" class="item-category d-flex align-items-center p-1 mb-1"> <i
                      class="fa-solid fa-image me-3"></i>
                    <p>Photography</p>
                  </a>
                </div>
                <div class="item-category d-flex align-items-center p-1 mb-1">
                  <a href="" class="item-category d-flex align-items-center p-1 mb-1"> <i
                      class="fa-solid fa-box-archive me-3"></i>
                    <p>UX Design</p>
                  </a>
                </div>
                <div class="all-category">
                  <a href="" class="item-category d-flex align-items-center p-1 mb-1">View All Categories
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- rigth page -->

        <div class="right-page ps-lg-4  ps-md-2 p-xs-0 ">
          <div class="all-course">
            <div class="faetured-course">
              <div class="course-text d-flex justify-content-between align-items-center">
                <p>Featured Course</p>
                <a href="">
                  <p class="see-all">See all</p>
                </a>
              </div>
              <div class="detail-course">
                <div class="row">
                  <div class="col-lg-6 col-md-12" *ngFor="let item of list_home1">
                    <div class="item-course">
                      <div class="d-flex position-relative  item-featured flex-wrap">
                        <div class="image-home-course col-12 col-lg-3  col-md-3 col-sm-3 col-xs-3 ">
                          <a href=""><img src="{{item.image}}" class="flex-shrink-0 me-3 course-img" alt="..."></a>
                        </div>
                        <div class="text-course col-12 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                          <h5 class="mt-0 name">{{item.name}}</h5>
                          <p class="">{{item.description}}</p>
                          <p class="author">By: <span class="author-color">{{item.author}}</span> </p>

                          <div class="star-price d-flex justify-content-between  ">
                            <div class="star-rating">
                              <i class="fa-solid fa-star star me-2"></i>
                              <i class="fa-solid fa-star star me-2"></i>
                              <i class="fa-solid fa-star star me-2"></i>
                              <i class="fa-solid fa-star star me-2"></i>
                              <i class="fa-regular fa-star star me-2"></i>
                            </div>
                            <div class="price">
                              <p>{{item.price}}$</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!-- Lastest Course -->
            <div class="latest-course">
              <div class="text d-flex justify-content-between align-items-center">
                <p>Latest Course</p>
                <a href="">
                  <p class="see-all">See all</p>
                </a>
              </div>
              <div class="detail">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-padding" *ngFor="let item of list_home2">
                    <div class="item-latest">
                      <div class="card background ">
                        <a href=""> <img src="{{item.image}}" class="card-img-top img-latest" alt="..."></a>
                        <div class="text-item">
                          <h5 class="">{{item.name}}</h5>
                          <div class="card-title d-flex flex-wrap">
                            <p>{{item.majob_1}}</p>
                            <p class="margin">|</p>
                            <p>{{item.majob_2}}</p>
                          </div>
                          <div class="price-author d-flex flex-wrap justify-content-between">
                            <p class="author">By: <span class="author-color">{{item.author}}</span></p>
                            <p class="price">{{item.price}}</p>
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- Popular Instructor -->

              <div class="popular-instructors">
                <div class="text d-flex justify-content-between align-items-center">
                  <p>Popular Instructors</p>
                  <a href="">
                    <p class="see-all">See all</p>
                  </a>
                </div>
                <div class="content-popular">
                  <div class="row">
                    <div class="col-lg-3 pt-md-3 pt-sm-3" *ngFor="let item of list_home3">
                      <div class="card-group">
                        <div class="card  instructors">
                          <a href=""><img src="{{item.image}}" class="card-img-top crile" alt="..."></a>
                          <div class="content-item">
                            <h5 class="card-title">{{item.author}}</h5>
                            <p class="name">Web Design, Dreamnet</p>
                            <p class="content-text">{{item.description}}</p>
                            <p class="number-course">3 Courses, 20+ Students</p>
                            <ul class="social-network">
                              <li>
                                <i class="fa-brands fa-facebook-f"></i>
                              </li>
                              <li class="me-2 ms-2">
                                <i class="fa-brands fa-google "></i>
                              </li>
                              <li>
                                <i class="fa-brands fa-twitter"></i>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- What our students say -->
              <div class="student-say">
                <div class="text d-flex justify-content-between align-items-center">
                  <p>What our students say</p>
                  <a href="">
                    <p class="see-all">See all</p>
                  </a>
                </div>
                <div class="content-student">
                  <div class="row">
                    <div class="col-lg-6" *ngFor="let item of list_home4">
                      <div class="card mb-3 background-student">
                        <div class="carousel-content">
                          <img src="{{item.image}} " class="card-img-top img-student" alt="...">

                          <div class="content-student">
                            <div class="title">
                              <p class="author">{{item.author}}</p>
                              <p class="name">Student</p>
                              <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed
                                do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>