<div class="homepage">
    <div class="full-container">
        <div class="container background-container">
           <div class="row-clearfix">
            <div class="left-page">
                <div class="content-top">
                    <div class="content-title">
                        <h6>Popular Topics</h6>
                    </div>
                    <div class="content">
                      <div class="content-popular d-flex flex-wrap ">
                        <div class="left background">
                            <p>Animation</p>
                        </div>
                        <div class="right background">
                            <p>Animation</p>
                        </div>
                      </div>
                      <div class="content-popular d-flex flex-wrap ">
                        <div class="left background">
                            <p>Animation</p>
                        </div>
                        <div class="right background">
                            <p>Animation</p>
                        </div>
                      </div>
                      <div class="content-popular d-flex flex-wrap ">
                        <div class="left background">
                            <p>Animation</p>
                        </div>
                        <div class="right background">
                            <p>Animation</p>
                        </div>
                      </div>
                      <div class="content-popular d-flex flex-wrap ">
                        <div class="left background">
                            <p>Animation</p>
                        </div>
                        <div class="right background">
                            <p>Animation</p>
                        </div>
                      </div>
                      
                    </div>
                </div>
                <div class="content-down">
                    <div class="content-title">
                        <h6>Top Categories</h6>
                    </div>
                    <div class="content">
                        <div class="content-popular pt-3 pb-3">
                            <div class="item-category d-flex align-items-center p-2  mb-2">
                                <i class="fa-solid fa-code me-2"></i>
                                <p>Developent</p>
                            </div>
                            <div class="item-category d-flex align-items-center p-2  mb-2">
                                <i class="fa-solid fa-code me-2"></i>
                                <p>Developent</p>
                            </div>
                            <div class="item-category d-flex align-items-center p-2  mb-2">
                                <i class="fa-solid fa-code me-2"></i>
                                <p>Developent</p>   
                            </div>
                            <div class="item-category d-flex align-items-center p-2  mb-2">
                                <i class="fa-solid fa-code me-2"></i>
                                <p>Developent</p>
                            </div>
                            <div class="item-category d-flex align-items-center p-2  mb-2">
                                <i class="fa-solid fa-code me-2"></i>
                                <p>Developent</p>
                            </div>
                            <div class="item-category d-flex align-items-center p-2  mb-2">
                                <i class="fa-solid fa-code me-2"></i>
                                <p>Developent</p>
                            </div>
                                
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-page">
              
            </div>
           </div>
        </div>
    </div>
</div>