<footer style="background-color: #252841;">
    <div class="content-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="item-1">
              <img src="/assets/image/logo_sss.png" alt="" width="100px">
              <div class="text-footer">
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam unde quam adipisci quidem ducimus
                  voluptate!</p>
                  <div class="contact">
                    <div class="address d-flex align-items-center mb-4">
                      <i class="fa-solid fa-location-dot pe-4"></i>
                      <p>255 Hoang Quoc Viet</p>
                    </div>
                    <div class="phone-number  d-flex align-items-center mb-4">
                      <i class="fa-solid fa-square-phone pe-4"></i>
                      <p>+123 456 789</p>
                    </div>
                    <div class="gmail  d-flex align-items-center mb-4">
                      <i class="fa-solid fa-envelope pe-4"></i>
                      <p>abc@gmail.com</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="item-2 mt-4">
              <h6>USEFUL LINK</h6>
            </div>
           
            <div class="content-1">
              <div class="content-use d-flex align-items-center mb-4">
                <i class="fa-solid fa-angle-right pe-4 "></i>
                <p>Register Activation Key</p>
              </div>
              <div class="content-use d-flex align-items-center mb-4">
               <i class="fa-solid fa-angle-right pe-4"></i>
                <p>Register Activation Key</p>
              </div>
              <div class="content-use d-flex align-items-center mb-4">
               <i class="fa-solid fa-angle-right pe-4"></i>
                <p>Register Activation Key</p>
              </div>
              <div class="content-use d-flex align-items-center mb-4">
               <i class="fa-solid fa-angle-right pe-4"></i>
                <p>Register Activation Key</p>
              </div>
              <div class="content-use d-flex align-items-center mb-4">
                <i class="fa-solid fa-angle-right pe-4"></i>
                 <p>Register Activation Key</p>
               </div>
            </div>
          
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 email">
            <div class="text">
              <p>Contact</p>
            </div>
            <div class="content-link ">
              <div class="content-use d-flex align-items-center mb-4">
                <i class="fa-solid fa-angle-right pe-4"></i>
                 <p>Free Trial</p>
               </div>
               <div class="content-use d-flex align-items-center mb-4">
                <i class="fa-solid fa-angle-right pe-4"></i>
                 <p>Free Trial</p>
               </div>
               <div class="content-use d-flex align-items-center mb-4">
                <i class="fa-solid fa-angle-right pe-4"></i>
                 <p>Free Trial</p>
               </div>
               <div class="webflow-style-input">
                <input class="" type="email" placeholder="What's your email?">
                <button type="submit"><i class="fa-sharp fa-solid fa-arrow-right"></i></button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="introduce">
              <div class="text">
                <p>RECENT WORK</p>
              </div>
              <div class="img-introduce">
                <div class="img-study d-flex">

                  <img src="/assets/image/study_1.jpg" width="60px" height="60px" alt="" class="p-1">
                  <img src="/assets/image/study_2.jpg" width="60px" height="60px" alt="" class="p-1">
                  <img src="/assets/image/study_3.jpg" width="60px" height="60px" alt="" class="p-1">
                  <img src="/assets/image/study_5.jpg" width="60px" height="60px" alt="" class="p-1">
                </div>
              </div>
              <div class="p-1img-study d-flex">

                <img src="/assets/image/study_6.jpg" width="60px" height="60px" alt="" class="p-1">
                <img src="/assets/image/study_7.jpg" width="60px" height="60px" alt="" class="p-1">
                <img src="/assets/image/study_9.jfif" width="60px" height="60px" alt="" class="p-1">
                <img src="/assets/image/study_10.jfif" width="60px" height="60px" alt="" class="p-1">
              </div>
              <div class="social-network d-flex">
                <i class="fa-brands fa-twitter me-4"></i>
                <i class="fa-brands fa-facebook me-4"></i>
                <i class="fa-brands fa-square-instagram me-4"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>