/* You can add global styles to this file, and also import other style files */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #252841;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #AB75F0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}