<main>
    <div class="container" style="position: relative;">
        <div class="top-blog d-flex align-items-center justify-content-between">
            <h3>All Blogs</h3>
            <div class="add_blog p-3">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div class="row flex-wrap">
            <div class=" col-lg-9 col-md-9 col-sm-12">
                <div class="blog" *ngFor="let item of list_blog" style=" cursor: pointer;">
                    <div class="row" routerLink="/blog/{{item.id}}">
                        <div class="col-lg-3 col-md-3 col-sm-3" style="display: flex; align-items: center; ">
                            <div class="image_blog">
                                <img width="100%" src="{{item.image}}" alt="">

                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="content_blog ">
                                <div class="title_blog">
                                    <h2>{{item.title}}</h2>
                                </div>
                                <div class="data_blog d-flex  align-items-center justify-content-between">
                                    <h6 class="mt-3 mb-3">{{item.date}}</h6>
                                    <div class="author d-flex align-items-center ">
                                        <img class="me-2" src="{{item.img_author}}" width="30px" height="30px" alt="">
                                        <p class="m-0">{{item.author}}</p>
                                    </div>
                                </div>
                                <div class="describe">
                                    <p class="m-0">{{item.content}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="blog">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="image_blog">
                               
                                <img width="100%" src="assets/image/vu-tat-nen.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9 p col-md-9 col-sm-12">
                            <div class="content_blog ">
                                <div class="title_blog">
                                    <h2>Vũ Tắt Nến top 7 BILLION TRADER</h2>
                                </div>
                                <div class="data_blog d-flex  align-items-center justify-content-between">
                                    <h6 class="mt-3 mb-3">July 26, 2019 - 1 min read</h6>
                                    <div class="author d-flex align-items-center ">
                                        <img class="me-2"
                                            src="https://ecdn.game4v.com/g4v-content/uploads/2021/04/Gia-the-Nobita-1-game4v.png"
                                            width="30px" alt="">

                                        <p class="m-0">L.N.K</p>
                                    </div>
                                </div>
                                <div class="describe">
                                    <p class="m-0">Welcome, it’s great to have you here. We know that first
                                        impressions are important, so we’ve are at at at populated your new site
                                        with some initial getting started posts that will help you get familiar with
                                        everything in no time. This is the first one!…</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="image_blog">
                           
                                <img width="100%" src="assets/image/vu-tat-nen.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9 p col-md-9 col-sm-12">
                            <div class="content_blog ">
                                <div class="title_blog">
                                    <h2>Vũ Tắt Nến top 7 BILLION TRADER</h2>
                                </div>
                                <div class="data_blog d-flex  align-items-center justify-content-between">
                                    <h6 class="mt-3 mb-3">July 26, 2019 - 1 min read</h6>
                                    <div class="author d-flex align-items-center ">
                                        <img class="me-2"
                                            src="https://ecdn.game4v.com/g4v-content/uploads/2021/04/Gia-the-Nobita-1-game4v.png"
                                            width="30px" alt="">
                                        <p class="m-0">L.N.K</p>
                                    </div>
                                </div>
                                <div class="describe">
                                    <p class="m-0">Welcome, it’s great to have you here. We know that first
                                        impressions are important, so we’ve are at at at populated your new site
                                        with some initial getting started posts that will help you get familiar with
                                        everything in no time. This is the first one!…</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="next_blog mt-3 mb-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 top-0" id="blogs" style="right:0;">
                <app-recent></app-recent>
            </div>
        </div>
    </div>
</main>